# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lib
*.a

# Executables
*.exe
*.out
*.app

# CMake build files
/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile

.vscode/
.cache/
